.header {
    height: 3rem;

    & a, & a:hover {
        text-decoration: none;
        color: deeppink;
    }

    &__branch {
        font-weight: bolder;
    }

    &__link {
        & a:hover {
            color: deeppink;
            font-weight: bolder;
        }
    }

    &__login {
        & a:hover {
            color: deeppink;
            font-weight: bolder;
        }
    }
}